.container{
    height: 350px;
    width: 1125px;
    left: 160px;
    top:100px;
    padding: 120px 134px 120px 134px;
    background: #043673;
}
.container .header{
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.container .content{
    display: flex;
}
.container .content .img1{
    width: 319.75px;
    height: 50px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 50px;
}
.container .content .img2{
    width: 300px;
    height: 50px;   
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 100%;  
    text-align: center;  
    color: #FFFFFF; 
    margin-left: 200px;
}
.container .content .img3{
    width: 300px;
    height: 50px;     
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 100%;  
    text-align: center;  
    color: #FFFFFF; 
    margin-left: 250px;
}
.container .content .img4{
    width: 250px;
    height: 50px;   
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 100%;  
    text-align: center;  
    color: #FFFFFF; 
    margin-left: 200px;
}
.box{
    display: flex;
    margin-top: 50px;
    background: #043673;
    height: auto;
    width: 1334px;
    border: 1px solid white;
    padding: 80px;
    padding-right: 30px;
    padding-left: 30px;
}

.footer1{
    margin-left: auto;
    width: 600px;
    height: 300px;
    background-color: white;
    border: 1; 
    margin-right: 20px; 
}
.footer1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .footer2{

    width: 600px;
    height: 300px;
    background-color: white;
    border: 1; 
    margin-right: auto; 
}
.header2 h2{
    color:black;
    display: inline-block;
}
.header2 .Compare{
    float: right;
    margin-top: 25px;
}
.content2{
    display: inline-block;
}
.content2 .pic1{
    height: 700px;
    width: 600px;
}
.content2 .para1{
    font-size: 20px;
}
.content3{
    float: right;
}
.content3 .pic2{
    height: 700px;
    width: 600px;
}
.content3 .para2{
    font-size: 20px;
}
.pic-dau{
    margin-left: auto;
}
.content4{
    display: inline-block;
}
.content4 .pic3{
    height: 700px;
    width: 600px;
}
.content4 .para3{
    font-size: 20px;
}
.content5{
    float: right;
   display: flex;
}
.content5 .pic4{
    height: 700px;
    width: 600px;
}
.content5 .para4{
    font-size: 20px;
}
.pic-sau{
    margin-right: auto;
}
.header3 h2{
    color:black;
    display: inline-block;
}
.header3 .View{
    float: right;
    margin-top: 25px;
}
.noidung .nd1 img{
    display: inline-block;
}
 .noidung .nd1 h3{
    display: inline-block;
}
.noidung .nd1{
    width: 375px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
    padding-left: 50px;
    display: inline-block;
    margin-right: 20px;
}
.noidung .nd1 p{
    width: 344px;
    height: 145px;
    display: inline-block;
}
.noidung .nd1 h4{
    display: inline-block;
}

 .noidung .nd2{
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    padding-left: 50px;
    width: 375px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
}
 .noidung .nd2 img{
    display: inline-block;
}
 .noidung .nd2 h3{
    display: inline-block;
}
.noidung .nd2 p{
    width: 344px;
    height: 145px;
    display: inline-block;
}
.noidung .nd2 h4{
    display: inline-block;
}
 .noidung .nd3 img{
    display: inline-block;
}
 .noidung .nd3 h3{
    display: inline-block;
}
 .noidung .nd3 p{
    display: inline-block;
    width: 344px;
    height: 145px;
}
.noidung .nd3{
    width: 375px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    padding-left: 50px;
}
.noidung .nd3 h4{
    display: inline-block;
}
 .noidung .nd4 img{
    display: inline-block;
}
 .noidung .nd4 h3{
    display: inline-block;
}
 .noidung .nd4 p{
    display: inline-block;
    width: 344px;
    height: 145px;
}
.noidung .nd4{
    width: 375px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.05);
    padding-left: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
}
.noidung .nd4 h4{
    display: inline-block;
}


