{% extends 'layouts/application.html' %}
{% block bodyClass %}class="page-home has-animation"{% endblock %}

{% block content %}
<main id="main-content" class="main-content">
    {% include 'modules/mod-header-PH.html' %}
    {% include 'modules/mod-banner.html' %}
    {% include 'modules/mod-column4.html' %}
    {% include 'modules/mod-SlickLife.html' %}
    {% include 'modules/mod-column-2.html' %}
    {% include 'modules/mod-SlickSlider.html' %}
    {% include 'modules/mod-column2.html' %}
    {% include 'modules/mod-column3.html' %}
    {% include 'modules/mod-wrap.html' %}
    {% include 'modules/mod-footer-PH.html' %}
</main>

{% endblock %}